<!doctype html>
<html lang="en" ng-app="myApp">

    <head>
        <meta charset="utf-8">
<!-- TODO: remove
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>          -->
        <!-- styles -->
        <link rel="stylesheet" href="css/app.css"/>
        <link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css"/>
    </head>

    <body>
        <div class="content" data-ng-controller="mainController">
            <h1>Rentals</h1>
            <br/>
            <form data-ng-controller="filterController">
                <input ng-model='filterBase.city' type="text" placeholder="Search city…">
                <input ng-model='filterBase.street' type="text" placeholder="Search address…">
                <label>
                    Rooms <div class='small-slider' data-slider type='range' min='{{filterValues.rooms.min}}' max='{{filterValues.rooms.max}}' from='filterRanges.rooms.from' to='filterRanges.rooms.to'>
                    </div>
                </label>
                <label>
                    Price <div class='small-slider' data-slider type='range'min='{{filterValues.price.min}}' max='{{filterValues.price.max}}' from='filterRanges.price.from' to='filterRanges.price.to'></div>
                </label>
                <a href='#'>Add Appartment</a>
            </form>
            <hr/>
            <h2 data-ng-if='!matchedRentals.length'>No appartments much this criteria, try something else.</h2>
            <div data-ng-if='matchedRentals.length'>
                <div data-ng-repeat="r in matchedRentals">
                    <p><strong>City</strong> {{r.city}}</p>
                    <p><strong>Address</strong> {{r.street}}</p>
                    <p><strong>Rooms</strong> {{r.rooms}}</p>
                    <p><strong>Price</strong> {{r.price}}</p>
                    <span data-ng-repeat="feature in r.features">
                        {{feature}} {{$last ? '' : '|'}}
                    </span>
                    <a href="#">Remove</a>
                    <hr ng-if='!$last' />
                </div>
                <p><hr/><strong>Matches</strong> {{matchedRentals.length}} results</p>
            </div>
        </div>
        <!-- scripts -->
        <script src="lib/angular/angular.min.1.1.5.js"></script>
        <script src="lib/jquery/jquery-1.10.1.min.js"></script>
        <script src="lib/jquery/ui/jquery.ui.core.min.js"></script>
        <script src="lib/jquery/ui/jquery.ui.widget.min.js"></script>
        <script src="lib/jquery/ui/jquery.ui.mouse.min.js"></script>
        <script src="lib/jquery/ui/jquery.ui.slider.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/factories.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
